.about-container {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(100deg, #FF8C00, #FFA500); */
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}
.about-heading {
    font-size: 54px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.about-main {
    margin: auto;
    width: 70%;
}
.about-content {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: playfair;
}
.guide-info{
    color:whitesmoke;
    font-size: 18px;
    font-weight: 700;
    font-family: playfair;
}
/* .developer-info h4 {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    text-decoration: underline;
} */
/* .about-content a,
.developer-info a {
 color: white;  
} */

